#body {
  margin: 0;
  padding: 0;
}

#header, #footer {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#letter {
  position: absolute;
  font-size: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  position: relative;
  width: 500px; /* Ajuste o valor de acordo com o tamanho desejado */
  height: 300px; /* Ajuste o valor de acordo com o tamanho desejado */
  overflow: hidden;
}

#imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s linear;
}
