body {
  margin: 0;
  padding: 0;
}

html{
  max-width: 100%;
  max-height: 500vw;
  box-sizing: border-box;
}

#imagem {
  width: 300px;
  height: 100px;
  opacity: 0.7;
  transition: transform 10s linear;
}

#header{
  background-color: rgb(255, 0, 157);
  padding: 20px;
  text-align: center;
  top: 0;
  width: 100%;
}

#footer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}


#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#video-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#photo-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

#photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}


