body {
  margin: 0;
  padding: 0;
}

#imagem {
  width: 300px;
  height: 100px;
  position: absolute;
  opacity: 0.7;
  transition: transform 3s linear;
}

#header, #footer {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}



