body {
  margin: 0;
  padding: 0;
  height: 1200px;
}

#header {
  background-color: lightblue;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

#footer {
  background-color: lightblue;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}


#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#video-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#photo-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

#photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}


