html{
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 1200px;
  box-sizing: border-box;
}

#header{
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300pX;
}

#footer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: -1;
  left: 0;
  width: 100%;
  height: 300pX;
}


#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#video-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#photo-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

#photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}


