body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#imagem {
  width: 300px;
  height: 100px;
  position: absolute;
  opacity: 0.7;
  transition: transform 10s linear;
}

#header, #footer {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

#nav {
  margin-bottom: 20px;
}

#nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#video-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#photo-container {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

#photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}


